<!--<p id="notice"><%= notice %></p>-->

<h1>All Posts</h1>

<%= link_to 'New Post', new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h4><%= link_to "#{post.title}", post %></h4>
      <!--<p><%= post.body %></p>-->
      <p><small>Created: <%= post.created_at %></small></p>
      <p><small>Updated: <%= post.updated_at %></small></p>
      <%= link_to 'Show', post %> |
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<br>

<%= paginate @posts %>
