<%= content_for :page_title, "Posts tagged \"#{params[:tag]}\""  %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h4><%= link_to post.title, post %><h4>
      <p><%= post.tags.join(', ') %></p>
      <p class="small">Created <%= time_ago_in_words post.created_at %> ago</p>
      <p class="small">Updated <%= time_ago_in_words post.updated_at %> ago</p>
    </li>
  <% end %>
</ul>
